<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Harmandeep Singh</title>
  <link href="css/theme.css" rel="stylesheet">
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Harmandeep Singh</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/table">Table</a>
            <a class="nav-link" href="/list">List</a>
            <a class="nav-link" href="/audio">Audio</a>
            <a class="nav-link" href="/video">Video</a>
            <a class="nav-link" href="/storefront">Store</a>

          </div>
        </div>
      </div>
    </nav>
    <div>
    <h1>Welcome to Harman's website! <br> This is the Web Assignment 4.</h1>
    <p>In this assignment I will be demonstrating HTML5 properties and their functionality, and pusing the website on a live server using Express.</p>
  </div>
  </header>

  <section>
    <h2>My Learning Experience</h2>
    <p>Throughout this course, I've gained valuable knowledge and skills in HTML5 and CSS3 development.
       I've learned about the latest standards, best practices to implement a responsive website, and techniques
       for creating engaging and accessible web content. It has been an exciting journey of discovery and growth.
      And in future I have a dream to be a freelance software developer. This course will help alot in developing my skills.</p>
  </section>

  <section>
    <h2>Introduction to HTML5</h2>
    <p>This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web(www). 
      HTML5 introduces new elements, tags, and attributes, making it easier to create semantically meaningful web pages. 
      With HTML5, we can build modern and interactive websites that provide better user experiences.</p>
  </section>
  <footer>
    <h6>Made by Harman for WEB322</h6>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
