<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Harmandeep Singh</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="css/theme.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Harmandeep Singh</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/table">Table</a>
            <a class="nav-link" href="/list">List</a>
            <a class="nav-link" href="/audio">Audio</a>
            <a class="nav-link active" href="/video">Video</a>
            <a class="nav-link" href="/storefront">Store</a>

          </div>
        </div>
      </div>
    </nav>
    <div>
    <h1>Welcome to the Harman's Video Page!</h1>
    <p>Here you will find an HTML5 video player.</p>
  </div>
  </header>

  <section>
    <h2>Video Player</h2>
    <video controls>
      <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.mp4" type="video/mp4">
      Your browser does not support the video element.
    </video>

    <p>The video player above allows us to watch a video using HTML5 video capabilities and properties. 
      We can control the playback, adjust the volume, and enjoy the content!</p>
  </section>
  <footer>
    <h6>Made by Harman for WEB322</h6>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
